/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-400.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-900.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
